#canvas {
  transform: scaleX( -1 );
  width: 320px;
  height: 320px;
}

#take-picture {
  position: relative;
  top: 16px;
  left: 112px;
  width: 96px;
  height: 48px;
  font-size: 1.75em;
}

#confirm-dialog {
  display: hidden;
}
